{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "Wallet" %}{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">{% trans "Wallet" %}</h1>
<table class="min-w-full bg-white dark:bg-gray-800 rounded-lg shadow">
  <thead>
    <tr>
      <th class="p-2 text-left">{% trans "Currency" %}</th>
      <th class="p-2 text-right">{% trans "Balance" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="p-2">TL</td><td class="p-2 text-right">{{ request.user.balance_tl }}</td></tr>
    <tr><td class="p-2">IRR</td><td class="p-2 text-right">{{ request.user.balance_irr }}</td></tr>
    <tr><td class="p-2">USDT</td><td class="p-2 text-right">{{ request.user.balance_usdt }}</td></tr>
  </tbody>
</table>
{% endblock %}
